/* Universal styles */



* {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  background-color: white;
}
a {
  color: inherit;
  font-family: inherit;
  
}


.main-container {
  position: relative;
  display: flex;
  z-index: 1;
  flex-direction: column;
  min-height: 100vh;
}

main {
  z-index: 5;
  display: flex;
  flex-direction: column;
  padding-top: 670px; /* Add padding equal to the hero image height + header height */


}

.content-container {
  background-color: #ffffff; 
}

/* Header */

header {
  display: flex;
  flex-shrink: 0;
  height: 70px;
  z-index: 10;
  width: 100%;
  position: fixed;

}

@media (max-width: 768px) {
  header {
    padding: 0 10px;
  }
}

.nav-container {
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;

}

.nav-container, .nav-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-container ul {
  gap: 20px;
}

.nav-container ul.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: green;
  justify-content: space-evenly;
}
.nav-container ul.show li {
  background-color: pink;
  flex: 1;
}

.hamburger-menu {
  display: none;
}


@media (max-width: 768px) {
  .nav-container ul {
    display: none;
  }
  .nav-container {
    display: flex;
  }
  .nav-container .hamburger-menu {
    display: block;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    margin-right: 10px;
  }
}

/* Hero section */
.hero-image {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 600px;
  z-index: -1;
}
  .hero-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.pinimg.com/originals/45/5e/70/455e70719267d2cb46a757ac1331fd12.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.2);
  z-index: -1;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* .logo-container img {
  
} */


/* Homepage blog-posts carousel */

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel-container {
  display: flex; /* Set the carousel container to a flex container */
  flex-wrap: nowrap; /* Prevent the carousel items from wrapping */
  flex-grow: 1;
  position: relative;
  justify-content: space-evenly;
  width: 100%;
  height: 280px;
  background-color: aliceblue;
  z-index: 5;
  align-items: center;
  scroll-behavior: smooth;
  overflow: hidden;
}

.carousel-track {
  display: flex; 
  transition: transform 0.4s ease-in-out; 
  justify-content: space-between;
  gap: 0.5%;
  height: 80%;
}


.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.carousel-item {
  width: 25%;
}
.carousel-item:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

}

.carousel-control { 
  background-color: transparent;
  border: none;
  width: 40px; 
  height: 40px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  cursor: pointer;
  z-index: 10; 
  position: static; 
  pointer-events: auto; 
  line-height: 0;
}



.arrow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  pointer-events: none; 
}

.carousel-control.prev {
  left: 0; /* Position the previous button at the left edge of the container */
}

.carousel-control.next {
  right: 0; /* Position the next button at the right edge of the container */
}

.carousel-control:hover:not(:disabled) {
  width: 40px;
  height: 40px;
}

.carousel-control:disabled {
  opacity: 0.3; /* Gray out the arrow */
  cursor: not-allowed;
  width: 30px; /* Make the arrow a bit smaller */
  height: 30px;
}



@media (max-width: 768px) {
  .carousel-container {
    flex-direction: column; /* Change the carousel layout to a vertical list */
    overflow-x: hidden; /* Disable horizontal scrolling for the carousel */
    position: relative;
  }
  
  .carousel-track {
    flex-direction: column; /* Change the direction of the carousel items to vertical */
    transform: none; /* Reset the transform of the carousel track */

  }
  
  .carousel-item {
    flex: 0 0 auto; 
    margin-right: 0; 
    margin-bottom: 20px; 
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
  }
  
  .carousel-control.prev {
    order: 2; 
    left: -20px;
  }
  
  .carousel-control.next {
    order: 3; 
    right: -20px;
  }
}


/* Business Card Section */

.contact-card {
  display: flex;
  align-items: center;
  padding: 80px;
  background-color: #f8f8f8; 
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  margin: 40px 100px;
  gap: 80px;
  will-change: transform;
  transition: transform 0.3s, box-shadow 0.3s;

}



.contact-card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

}

.card-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.profile-pic-container img {
  width: 240px; 
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.info-container {
  flex-grow: 1;
}

.info-container h2 {
  font-size: 24px; 
  margin-bottom: 10px;
}

.info-container p.short {
  margin-bottom: 10px;
}
.info-container p.long {
  margin-bottom: 30px;
}

.tweet-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 210px;
  font-family: "Courier New", monospace;
  font-size: 32px;
  background-color: black;
  color: purple;
  border-radius: 10px;
}

.dot {
  animation: loading 1s infinite;
  opacity: 0;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loading {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.latest-tweet {
  position: relative;
  height: 210px;
}


/* Blog page CSS */



.newsletter-signup {
  background-color: #f9f9f9;
  padding: 2rem;
  text-align: center;
  line-height: 1.6;
}

.newsletter-signup h2 {
  margin-bottom: 1rem;
}

.newsletter-signup form {
  display: inline-flex;
}

.newsletter-signup input {
  border: 1px solid #ccc;
  padding: 0.5rem;
  outline: none;
  margin-right: 1rem;
}

.newsletter-signup button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.latest-post {
  position: relative;
  line-height: 1.6;
}

.latest-post-img img {
  width: 100%;
  height: auto;
}

.latest-post-content {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #fff;
}

.latest-post-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding-left: 1vh;
}

.blog-post-grid {
  padding: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.blog-post {
  background-color: #f9f9f9;
  padding: 1rem;
  text-align: center;
}

.blog-post img {
  width: 100%;

}


/* Navigation buttons for blog post grid */
.nav-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s;
}
.load-more-button {
  display: block;
  margin: 2rem auto;
}

.nav-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}



footer {
  background-color: purple;
  width: 100%;
  height: 500px;
}

